<div class="container">
  <h1>Apuesta</h1>
  <table class="table">
      <thead>
        <tr>
          <th>Participante</th>
          <th>Equipo Local</th>
          <th>Equipo Visitante</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let apuesta of apuestas">
            <td>{{ apuesta.participante }}</td>
            <td>{{ apuesta.local }}</td>
            <td>{{ apuesta.visitante }}</td>
            <td class="row">
                <button class="btn btn-danger" type="button" (click)="deleteApuesta(apuesta.id)">X</button>
            </td>
          </tr>
      </tbody>
  </table>
  <h3>Crear Nueva Apuesta</h3>
      <form (ngSubmit)="addApuesta(this)" #apuestaForm="ngForm" id="myForm">
        <div class="form-group"> 
          <label for="name">Participante</label>
          <input type="text" class="form-control" [(ngModel)]="newApuesta.participante" name="participante" required>
        </div>        
        <div class="form-group">
          <label for="name">Goles Equipo Local</label>
          <input type="number" class="form-control" [(ngModel)]="newApuesta.local" name="local" required>
        </div>        
        <div class="form-group">
          <label for="name">Goles Equipo Visitante</label>
          <input type="number" class="form-control" [(ngModel)]="newApuesta.visitante" name="visitante" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!apuestaForm.form.valid">Crear</button>
        </div>
      </form>
  
</div>